# shared HMAC key for payload (arrived on webhook) validation [generated using: openssl rand -hex 32]. Stored in Github App and here.
GITHUB_WEBHOOK_SECRET=<webhook-secret>

# Required private key for the JWT creation
# JWT then later be used for exchanging installation token
# Once github app is identified, registration token is created, travels to VM for registration with Github
# for deployment, this would be added as google secret and exposed to cloud run.
GITHUB_APP_PRIVATE_KEY_PATH=<path-to-pem>

# Used for generating JWT
GITHUB_APP_ID=<github-app-id>


# GCP
GCP_PROJECT_ID=<gcp-project-id>
GCP_ZONE=europe-west4-a
